<form class="add" action="/" method="post" accept-charset="utf-8">
	<input type="text" class="task-input" name="todos[task]" placeholder="New task">
	<input type="submit" value="Send">
</form>
<div class="task-list">
	<div class="column column-todo">
		<div class="column-title">
			To do
		</div>
		<% @todo.each do |todo| %>
			<div class="task">
				<button type="submit" class="delete-task" form="delete-task-<%= todo.id %>">
					Delete
				</button>
				<button type="submit" id="task-edit-<%= todo.id %>" class="edit-task" form="edit-task-<%= todo.id %>">
					Edit
				</button>
				
				<form id="edit-task-<%= todo.id %>" action="/<%= todo.id %>" method="post">
					<input type="hidden" name="_method" value="put">
					<textarea id="task-textarea-<%= todo.id %>" name="todos[task]">
						<%= todo.task %>
					</textarea>
				</form>
				<form id="delete-task-<%= todo.id %>" action="/<%= todo.id %>" method="post">
					<input type="hidden" name="_method" value="delete">
				</form>
			</div>
		<% end %>
	</div>
</div>
