<form class="add" action="/" method="post" accept-charset="utf-8">
	<input type="text" class="task-input" name="toto[task]" placeholder="New task">
	<input type="submit" value="Send">
</form>
<div class="task-list">
	<div class="column column-todo">
		<div class="column-title">
			To do
		</div>
		<% @todos.each do |todo| %>
			<div class="task">
				<form id="edit-task-<%= todo.id %>" action="/<%= todo.id %>" method="post">
					<input type="hidden" name="_method" value="put">
					<input type="submit" id="task-edit-<%= todo.id %>" value="Edit">
					<textarea name="machin[task]" cols="30" rows="10">
						<%= todo.task %>
					</textarea>
				</form>
				<form id="delete-task-<%= todo.id %>" action="/<%= todo.id %>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Delete">
				</form>
			</div>
		<% end %>
	</div>
</div>
